
body {
	font-family: Arial;
	color:#333;
}

h1 {
	margin-bottom: 100px;
}

h1, h2 {
	text-align: center;
}

div {
	margin: 0 auto 100px auto;
	width: 960px;
	height: 200px;
	background: #ccc;
}

#box1 {
	background: linear-gradient(178deg, #0C517A 1.92%, #072D44 98.08%);
}

#box2 {
	background: linear-gradient(79deg, #0C517A 30.63%, #6A9FAC 45.8%, #072C43 60.8%);
}

#box3 {
	width: 400px;
	height: 400px;
	background: radial-gradient(77.7% 66.14% at 50% 50%, #EADDB7 21.15%, #EB932B 100%);
}

#box4 {
	border-radius: 11px;
	background: #00AFEC;
	box-shadow: 0 -2px 5.4px 9px rgba(0, 0, 0, 0.24);
}

#box5 {
	border-radius: 3px;
	background: #00AFEC;
	box-shadow: 0 0 9.1px 11px rgba(0, 0, 0, 0.28) inset;
}

#box6 {
	border-radius: 3px;
	background: url(images/leaves.png);
}