body{
    background-image: url(images/tile1.png);
    background-color: rgba(205, 168, 87, 0.249);
}

main{
    padding: 20px;
    margin: 20px;
    border-radius: 0;
    max-width: 1200px;
    background-color: rgba(240, 194, 58, 0.393);
}

.header{
    background: linear-gradient(90deg, #FFF98C 0%, #FF8400 100%);
    display: flex;
}

header{
    padding: 20px;
    padding-top: 40px;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.mainheader{
    display: flex;
    gap: 20px;
    margin: auto;
    flex: 1;
}

.mainheader p{
    margin-top: 35px;
}

header p, header h1{
    color: rgba(36, 22, 10, 1);
}

h1 {
    font-family: Monoton;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: right;
}

header p{
    color: rgba(36, 22, 10, 1);
    font-family: "Fugaz One";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.logo{
    display: flex;
    flex-direction: column;
    margin: auto;
    flex: 1;
}

.logo img{
    max-width: 300px;
}

.logo p{
    font-size: 40px;
    flex: 1;
}

h2 {
    font-family: "Fira Sans", sans-serif;
    font-size: 24px;
}

p{
    font-family:"Fira Sans", sans-serif;
    font-weight: 300;
    font-size: 16px;
}

.profile{
        flex: 3;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

.text{
    background-color: #f6af64;
    padding: 20px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

nav ul, nav ol{
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin: 0;
    margin: auto;
    max-width: 300px;
}

ul li a, ol li a {
    font-family: "Fira Sans", sans-serif;
    font-weight: 500;
    font-size:16px;
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 15px;
    background-color: rgba(238, 187, 69, 0.95);
    margin-bottom: 20px;
    border-radius: 30px;
    border: 1px solid rgba(19, 88, 71, 0.1);
    box-shadow: 5px 5px 5px 0 hsla(176, 37%, 8%, 0.338);
    color: rgb(47, 27, 9);
}

ol li a{
    font-size: 20px;
}

ul li a:hover, ol li a:hover {
    background-color: rgb(255, 243, 162);
    color: rgb(54, 36, 12)
}

footer { 
    background: linear-gradient(90deg, #FFF98C 0%, #FF8400 100%);
    color: rgba(36, 22, 10, 1);
    padding: 20px;
    text-align: center;
}

footer p{
    font-family: "Fira Sans", sans-serif;
    font-weight: 500;
}

footer a {
    color: #c44318;
}

h2, h3{
    text-align: center;
}

h3{
    font-family: "Fira Sans", sans-serif;
}

aside img {
    display: block;
    margin: auto;
    border-radius: 250px;
    border: 6px solid #0166a4;
}

@media only screen and (min-width: 600px) {

    header{
        margin: auto;
        width: 1200px;
        flex-direction: row-reverse;
    }

    header .logo{ 
        flex: 1;
    }

    header .mainheader{
        flex: 1;
        flex-direction: column;
        justify-content: center;
    }

    header .mainheader h1{
        font-size: 96px;
        margin-bottom: 0;
    }

    header .mainheader p{
        font-size: 24px;
        text-align: right;
        margin-top: 0;
    }

    main .top{
        padding: 20px;
        display: flex;
        gap: 40px;
        margin: auto;
    }

    main{
        margin: auto;
    }

   .top section {
        flex: 1;
    }

    .profile{
        flex: 3;
        flex-direction: row;
        gap: 40px;
    }

    main .bottom{
        margin-top: 20px;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }

    .ex{
        flex: 3;
    }

    .ex nav{
        display: flex;
        gap: 20px;
        justify-content: space-between;
        margin: auto auto auto auto;
    }
    
    .bottom nav ul, .bottom nav ol{
        max-width: 800px;
    }

    .box1{
        flex: 1;
        display: flex;
        flex-direction: column;
    }
    .box2{
        flex:1;
    }

    .tools{
        flex: 1;
    }

    
    
}