*{
    box-sizing: border-box;
}

body {
    font-family: Arial;
    line-height: 1.5em;
    color: #333;
}

header, footer {
    background-color: #b802af;
    padding: 40px 0;
    text-align: center;
    color: #fff;
}

header, footer, main {
    max-width: 1020px;
    margin: auto;
}

.card {
    /* add boxsizing rule */
    box-sizing: border-box;
    border:8px solid #44690d;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.cta {
    display: block;
    text-decoration: none;
    background-color: #ff6d6d;
    color: #fff;
    text-align: center;
    padding: 20px;
    border: 2px solid #b92222;
    border-radius: 10px;
    margin: 30px auto 0 auto;
    width: 200px;
}

footer {
    padding: 20px 0;
}

main {
    padding: 20px;
}

h1, h2 {
    text-transform: uppercase;
}

@media screen and (min-width: 600px) {
    main {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
    .card {
        width: calc(50% - 10px);
        margin-bottom: 0;
    }
}
